
{{template "base" .}}
{{define "content"}}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>This is the Vehicle Positions Simple Page.</h1>
                <p class="text-bg-secondary p-3">This is some text.</p>

                <p>Error: {{index .StringMap "error"}}</p>

                <p>Response: <br /> {{index .StringMap "response"}}</p>

                <img src="/static/images/logo-ba.png" alt="logo buenos aires" height="50px" width="50px">
            </div>
        </div>
    </div>
{{end}}